__pycache__/
*.py[cod]
*$py.class

.Python
build/
develop-eggs/
dist/
eggs/
.eggs/
parts/
sdist/
var/
pip-wheel-metadata/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST
*.manifest
*.spec
*.png

pip-log.txt
pip-delete-this-directory.txt

.cache

docs/_build/

.python-version

__pypackages__/

.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/
.idea/